@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #47476b !important;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: #47476b;
  border: 1px solid #5c5c8a;
  
}
::placeholder {
  color: #e68a00;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 75%;
}

button {
  color: #e68a00;
  background-color: #47476b;
}

/*.tooltipText {
  top: -5px;
  left: 105%;
  visibility: hidden;
}
.tooltipText:hover {
  visibility: visible;
} */